.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Header Header Header Header"
      "Main Main . Sidebar"
      "Footer Footer Footer Footer";
  }
  
  .Header { grid-area: Header; }
  
  .Footer { grid-area: Footer; }
  
  .Main { grid-area: Main; }
  
  .Sidebar { grid-area: Sidebar; }
  